<ion-header>
    <ion-toolbar>
      <ion-title>Informacion</ion-title>
      <ion-buttons slot="primary">
        <ion-back-button text="Volver" icon="" color="tertiary" fill="outline"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Codigo Analisis </ion-card-subtitle>
      <ion-card-title>{{cod_analisi}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>Nombre Prueba </ion-card-subtitle>
      {{nom_prueba}}
    </ion-card-content>
    <ion-card-content>
      <ion-card-subtitle>Nombre Metodo </ion-card-subtitle>
      {{nom_metodo}}
    </ion-card-content>
  </ion-card>
  </ion-content>
  