<ion-header>
  <ion-toolbar>
    <ion-title>
      Bienvenido {{rut}}
    </ion-title>
    <ion-buttons slot="primary">
        <ion-button (click)="proseslogout()"><ion-icon slot="end" name="log-out"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Its work...
  </div>
</ion-content>

<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>